<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="ModernMinerWatchDog.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <ModernMinerWatchDog.Properties.Settings>
            <setting name="MinerPath" serializeAs="String">
                <value>C:/path to miner.exe here</value>
            </setting>
            <setting name="MinerArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="MinerPool" serializeAs="String">
                <value />
            </setting>
            <setting name="MinerPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="MinerWallet" serializeAs="String">
                <value />
            </setting>
            <setting name="MinerWorker" serializeAs="String">
                <value />
            </setting>
            <setting name="MinerCoin" serializeAs="String">
                <value />
            </setting>
            <setting name="MinerAdditionalArgs" serializeAs="String">
                <value />
            </setting>
            <setting name="RunAtStartup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartMinimized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimizeToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotkeyGaming" serializeAs="String">
                <value />
            </setting>
            <setting name="HotkeyMining" serializeAs="String">
                <value />
            </setting>
            <setting name="Allowed" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="Prevented" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" />
                </value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>43200</value>
            </setting>
            <setting name="MaxInvalidShares" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="UpdateIntervalSelectedIndex" serializeAs="String">
                <value>4</value>
            </setting>
        </ModernMinerWatchDog.Properties.Settings>
    </userSettings>
  <runtime>
    <!--<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CommonServiceLocator" publicKeyToken="489b6accfaf20ef0" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.6.0" newVersion="2.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>-->
  </runtime>
</configuration>